.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
}

.header {
  margin-top: 3%;
  font-size: 150%;
  color: red
}

.hidden {
  display: none;
}

.home-button {

  top: 30vh;
}